.btn {
  border: none;
  background: transparent;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  gap: 0.5rem;
}

.btn-group > * {
  margin: 0;
  width: 25px;
  height: 25px;
}

.todo {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
}

.todo > div {
  flex: 1;
}

.todo:hover {
  background-color: #e4e4e4;
}

.completed {
  text-decoration: line-through;
}

